/* * {
  border: 1px solid #ee9999;
} */




html {
  min-height: 100%
}
@font-face { 
  
  font-family: Buka; 
  src: url('7.ttf') 
  format("truetype"); 
  } 

body {

  /* text-shadow: rgb(126, 255, 233) 0.0em 0.0em 0.1em; */
  background: 
  linear-gradient(rgb(0, 158, 172), rgb(139, 194, 201));

  /* overflow: hidden; */
  margin: 0;
     
 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

a:hover {
  text-decoration: none;
  color: rgb(255, 129, 97);
}

a {
text-decoration: none;
margin: 5px;
color:rgb(255, 209, 209);
font-size: 20pt;
/* text-shadow: rgb(0, 166, 255) 0.0em 0.055em 0.0em; */


}



.square {
  width: 100px;
  height: 100px;
  background-color: #ff937e00;
  transition: all 1s 0s;
}

.toggle-down {
  transform: rotate(0deg);
  cursor: pointer;
}


.toggle-up {
  transform: rotate(360deg);
}


a.current {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: rgb(0, 255, 208) 0.0em 0.0em 0.1em;
  cursor: default;
}

/* a.current::before {
  content: '>'; 
  margin-right: 5px; 
  text-decoration: none;
} */


/* .bandcamp {
position: relative;
flex-basis: 50%;
display: flex;
align-items: center;
} */


/* 
#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

