html {
  min-height: 100%
}


body {


  background: 
  
  linear-gradient(rgb(117, 205, 201), rgb(209, 250, 255));

  overflow: hidden;
  margin: 0;
  /*
  justify-content: center;
  align-content: center;
  display: flex */

  font-family: Helvetica;

  text-shadow: rgb(126, 255, 233) 0.0em 0.2em 0.1em;
  
}

a:hover {
  color: rgb(255, 129, 97);
  
}

a {

margin: 5px;

}

.square {
  width: 100px;
  height: 100px;
  background-color: #ff937e00;
  transition: all 1s 0s;
}

.toggle-down {
  transform: rotate(0deg);
}


.toggle-up {
  transform: rotate(360deg);
}